<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sampletest_erp>
            <sales>
                <is_active>0</is_active>
                <api_key>0000xx0x000xxxxx0000xxx</api_key>
                <endpoint>https://erp.company.com/rest/webhook/sales</endpoint>
            </sales>
        </sampletest_erp>
    </default>
</config>
